*{
    padding: 0;
    margin: 0;
}
h1{
    background-color: cadetblue;
    /* border-style: solid;
    border-width: 2px;
    border-color: brown; */

    /* border: solid brown 2px; */
    /* border-radius: 5px; */

    /* border-top-left-radius: 5px; */

    /* border-top: solid yellow 2px; */

    /* border-left: solid rgb(255, 0, 0) 3px; */
    border: solid black 3px;
    border-radius: 5px;
    width: 350px;
    /* height: 150px; */
}

/* span{
    background-color: cadetblue;
    border: solid black 3px;
    border-radius: 5px;
    width: 350px;
    height: 150px;
    

} */
.para1{
    background-color: aquamarine;
    border: solid black 3px;
    border-radius: 5px;
    width: 350px;
    padding: 15px;
    margin: 20px;
}

.para2{
    background-color: bisque;
    border: solid black 3px;
    border-radius: 5px;
    width: 350px;
}
.para3{
    background-color: azure;
    border: solid black 3px;
    border-radius: 5px;
    width: 350px;
}